* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  margin: 0 0;
}
.navbar {
  padding: 0;
}
nav {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(252, 85, 85)
  );
}
.nav-link {
  text-align: right;
  padding: 0 0;
}
.nav-item {
  margin: 0px;
}
.navbar-brand {
  margin-right: auto; /* Mueve el logo hacia la izquierda */
}

.nav-links {
  margin-left: auto; /* Mueve los links hacia la derecha */
}

.btnLog {
  margin-left: auto; /* Mueve el formulario con los botones hacia la derecha */
}

.link-separados {
  margin: 0 15px;
  padding: 5px;
  text-decoration: none;
}
.nav-letra {
  font-size: 1.5rem;
}
.logo {
  height: 60px;
  margin-left: 10px;
}
.titulo {
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px black;
  text-align: center;
  margin: 15px auto;
}

.subtitulo {
  font-size: 2em;
  text-align: center;
  padding: 15px 0;
  margin: 0 15px;
}
.txt {
  padding: 15px 15px;
  margin: 0 15px;
  text-align: center;
  font-size: 1.5em;
}
.main {
  margin-bottom: 55px;
}
.btnLog {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.pie {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgb(252, 85, 85)
  );
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

footer a {
  text-decoration: none;
}
footer a .fa-brands {
  text-decoration: none;
}
.red-social {
  font-size: 2em;
  margin: 0 15px;
}
.pie-txt {
  font-size: 1.6em;
}
.titular {
  text-align: center;
  margin: 15px 0;
}
.titular-txt {
  text-align: center;
}

.cards-container {
  display: flex;
}
.card {
  margin: 10px;
  width: 250px;
}
.card-precio {
  font-weight: 500;
  text-align: center;
}
.card-titulo {
  text-align: center;
}
.card-descripcion {
  text-align: center;
}

#cards-collares-container,
#cards-pulceras-container,
#cards-sahumerios-container {
  display: none;
}

/* /////////// LOGIN //////////// */
#nombreUsuario {
  font-size: 1.5rem;
  text-align: end;
  background-color: beige;
  padding-right: 10px;
}
